
.login {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 73px;
    letter-spacing: 0.05em;
    color: #000000;
}

.register {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 73px;
    letter-spacing: 0.05em;
    color: #000000;
}

a {
    color: #4556A8;
    text-decoration: none;
}

.button-login {
    width: 60%;
    background-color: #4556A8;
    color: #FFFFFF;
    height: 10%;
    /* border: 1px solid #000000; */
}

.gambar {
    /* background-color: #4556A8; */
    background: url(../../../asset/loginregis.png);
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: 100%;
}

.row .gambar {
    --bs-gutter-x: 0rem;
    background-color: #4556A8;
}

.garis1 {
    width: 229px;
    /* color: #FFFFFF; */
    /* margin-left: ; */
    /* align-items: center; */
    border: solid 1px white;
}

.garis2 {
    width: 163px;
    /* color: #FFFF; */
    border: solid 1px white;
}

.garis3 {
    width: 89px;
    /* color: #FFFF; */
    border: solid 1px white;
}

.garis-vertikal1 {
    height: 70px;
    width: 0px;
    border: 1px solid white;
    margin-left: 23.7%;
    margin-bottom: -18px;
}

.garis-vertikal2 {
    height: 50px;
    width: 0px;
    border: 1px solid white;
    margin-left: 23.7%;
    margin-bottom: -23px;
    margin-top: -16px;
}

.garis-vertikal3 {
    height: 70px;
    width: 0px;
    border: 1px solid white;
    margin-left: 23.7%;
    margin-top: -18px;
    /* margin-bottom: -10px; */
}

.image-text {
    font-size: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    color: white;
    text-align: left;
    padding-left: 23%;
    /* width: max-content; */
}

.image-text-mini {
    font-size: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: white;
    text-align: left;
    padding-left: 15%;
    margin-top: -45px;
    width: 360px;
}
.image-text-copyright {
    font-size: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: white;
    text-align: right;
    margin-right: 50px;
    /* margin-bottom: ; */
    padding-bottom: 20px;
    margin-top: 25%;
    /* width: 360px; */
}

.star-image {
    margin-right: 52.6%;
    margin-bottom: 20px;
}