.judul-toefl {
    background-color: #4556A8;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.05em;
    border: none;
    /* width: 130%; */
}

.soal-toefl {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-align: left;
    /* width: 130%; */
    /* width: 750px; */
}

.nomor-soal {
    /* padding: ; */
    width: 41px;
    background-color: black;
    font-size: 10px;
    font-weight: 500;
    /* height: 60px; */
}

.nomor-soal-current {
    /* padding: ; */
    width: 41px;
    font-size: 10px;
    font-weight: 500;
    background-color: #4556A8;
    border: 1px solid #4556A8;
    /* height: 60px; */
}

.nomor-soal-current:hover {
    /* padding: ; */
    width: 41px;
    font-size: 10px;
    font-weight: 500;
    color: #4556A8;
    background-color: #FFFFFF;
    border: 1px solid #4556A8;
    /* height: 60px; */
}

.nomor-soal-lewat {
    /* padding: ; */
    width: 41px;
    font-size: 10px;
    font-weight: 500;
    background-color: #DE1C1C;
    border: 1px solid #DE1C1C;
    /* height: 60px; */
}

.nomor-soal-lewat:hover {
    /* padding: ; */
    width: 41px;
    font-size: 10px;
    font-weight: 500;
    color: #DE1C1C;
    background-color: #FFFFFF;
    border: 1px solid #DE1C1C;
    /* height: 60px; */
}

.nomor-soal-belum {
    /* padding: ; */
    width: 41px;
    font-size: 10px;
    font-weight: 500;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    /* height: 60px; */
}

.nomor-soal-belum:hover {
    /* padding: ; */
    width: 41px;
    font-size: 10px;
    font-weight: 500;
    color: #D9D9D9;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    /* height: 60px; */
}

.nomor-soal-terjawab {
    /* padding: ; */
    width: 41px;
    font-size: 10px;
    font-weight: 500;
    background-color: #2D7D44;
    border: 1px solid #2D7D44;
    /* height: 60px; */
}

.nomor-soal-terjawab:hover {
    /* padding: ; */
    width: 41px;
    font-size: 10px;
    font-weight: 500;
    color: #2D7D44;
    background-color: #FFFFFF;
    border: 1px solid #2D7D44;
    /* height: 60px; */
}

.card-nomor-soal {
    font-family: 'Montserrat';
    /* align-items: center; */
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-align: left;
    width: 100%;
    padding: 0 !important;
}

.waktu-nomor {
    width: 23%;
}

.waktu {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.05em;
}

.button-back {
    background-color: #EA1F44;
    border: 1px solid #EA1F44;
}

.button-next {
    background-color: #4556A8;
    border: 1px solid #4556A8;
}

.button-finish {
    background-color: #2D7D44;
    border: 1px solid #2D7D44;
}

.button-back-soal {
    background-color: #EA1F44;
    border: 1px solid #EA1F44;
    /* width: 15%; */
}

.button-next-soal {
    background-color: #4556A8;
    border: 1px solid #4556A8;
    /* width: 15%; */
}

.button-finish-soal {
    background-color: #2D7D44;
    border: 1px solid #2D7D44;
    /* width: 15%; */
}


