.loading{
    width: 100%;
    /* height: 100%; */
    align-self: center;
}

.page-body-wrapper{
    background-color: #F4F5F7;
}

.content-wrapper{
    padding: 0px 2.187rem 1.5rem 3.5rem!important;
}