.box-paket {
    padding: 100px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    height: 200px;
    margin: 20px 50px;

    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

/* .box-paket:hover {
    background: #4556A8;
    color: white;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);

} */

.group-box {
    margin-bottom: 50px !important;
}

.jenis-tes {
    padding-top: 100px;
}

.text-pilih {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 73px;
    letter-spacing: 0.05em;
}

.kotak-jenis{
    background: #0092ff;
    padding: 13px 0;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);

}

.kotak-jenis:hover{
    background: #4556A8;
    color: white;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
}