.swal2-modal .swal2-icon, .swal2-modal .swal2-success-ring {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

/* soal  */
.long-question{
    margin-bottom: 30px;
    padding: 10px 20px;
}
.no-soal{
    margin-right: 10px;
}
.pertanyaan{
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    padding: 0px 20px;
}
.jawaban{
    padding-left: 40px;
    margin-top: 5px;
    font-size: 12px;
}
.kunci-jawaban{
    margin-top: 5px;
    margin-left: 40px;
    padding: 5px;
    width: 200px;
    font-size: 12px;
    border: 1px solid black;

}