
.banner {
    padding-top: 80px;
    margin-top: 0px!important;
}

.banner-kiri {
    padding-left: 20px;
}

.judul-banner {
    text-align: start;
    font-size: 35px;
    margin-top: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0.05em;
    color: #000000;
}

.sub-judul-banner {
    text-align: start;
    font-size: 25px;
}

.button-banner {
    /* height: 60px; */
    font-size: 25px;
    background-color: #4556A8;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 5px 20px;
    /* margin-right: 100px; */
}

.button-banner:hover {
    background-color: #152678;
    color: white;
    border-radius: 30px;
    border: solid 1px #4556A8;
    
    padding: 5px 20px;
}

.gambar-banner{
    width: 200px;
    margin-top: 10px;
}

@media(min-width: 992px) {
    .banner-kiri {
        padding-left: 30px;
    }

    .sub-judul-banner {
        width: 500px;
    }

    .button-banner {
        width: 400px;
    }

    .judul-banner {

        
        font-size: 40px;
        width: 600px;
    }
    .gambar-banner{
        width: 350px;
    }
}