.card-kursus {

    margin-top: 100px;
    margin-bottom: 50px;
}

.card-paket {
    padding: 20px 25px;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.judul-paket {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 43px;
    color: #000000;

}

.grup-paket {
    margin-top: 10px;
    padding: 0px 30px;
}

.penjelasan-paket {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-left: auto;
    margin-right: auto;

}

.btn-pilih-paket {
    margin-top: 30px;
    background: #4556A8;
    border-radius: 50px;
    color: white;
    width: 100%;
}

.btn-pilih-paket:hover {
    margin-top: 30px;
    background-color: #152678;
    color: white;
    width: 100%;
}

.judul-subpaket {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 15px;
    font-weight: 700;
    line-height: 11px;
    color: #000000;

}

.isi-subpaket {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    color: #000000;
}

.img-paket {
    width: 50px;
}

.jarak {
    height: 30px;
}



@media(min-width: 992px) {
    .img-paket {
        width: 150px;
    }

    .grup-paket {

        border-left: 3px solid #000000;
        padding: 0px 150px 80px 150px;
    }

    .penjelasan-paket {
        width: 300px;

    }

    .card-paket {

        margin-top: 50px;
    }

    .jarak {
        width: 30px;
    }
}

@media (min-width: 768px) {
    .jarak {
        padding: 10px!important;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media(min-width: 768px) and (max-width: 912px){
    .banner .col-md-12{
        flex: 0 0 auto;
        width: 100%;
    }

    .flex-md-column-reverse {
        flex-direction: column!important;
    }
}