/* component */
/* footer  */
.footer-lingville {
    border-top: 3px solid #000000;
    margin-top: 100px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 100px;
    background: none!important;

    align-items: center !important;
}

.judul-footer {
    text-align: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 29px;
    letter-spacing: 0.05em;
    padding: 10px 0px;
    border-bottom: 1px solid #000000;
    color: #000000;
}

.isi-footer {
    padding-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}


.margin-kotak-footer {
    margin-right: 5px;
}

.sosmed-footer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.kotak-footer {
    width: 100%;
}

@media(min-width: 992px) {
    .footer {
        border-top: 3px solid #000000;
        padding-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
        /* padding: 30px 20px; */
    }

    .judul-footer {
        padding: 10px 0px 0px 0px !important;
    }

    .footer {
        align-items: start !important;
    }

    .kotak-footer {
        width: 348px;
    }
    .margin-kotak-footer {
        margin-right: 15px;
    }
}