.button-login-navbar:hover {
    background-color: #2D7D44;
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
    width: 80px;
}

.button-login-navbar {
    background-color: #FFFFFF;
    border-radius: 30px;
    border: solid 1px #2D7D44;
    width: 80px;
}

.button-userlogin, .button-userlogin:hover {
    background-color: #2D7D44;
    border-radius: 30px;
    border: solid 1px #2D7D44;
    /* width: 80px; */
}

.lingville{
    padding: 10px!important;
    position: fixed!important;
    z-index: 999px!important;
    background-color: white!important;
    width: 100%!important;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.item-nav{
    font-size: 15px!important;
}