.penjelasan-web {
    margin-top: 100px;
    margin-bottom: 50px;
}

.judul-landing {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 73px;
    letter-spacing: 0.05em;
    color: #000000;
}

.isi-penjelasan {
    text-align: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.03em;
    padding: 28px;
    color: #000000;
    margin-top: 50px;
}

.gambar-penjelasan {
    height: 300px;
}

/* 
.isi-penjelasan, .gambar-penjelasan{
    flex: 0 0 auto;
    width: 100%;
} */


@media(min-width: 992px) {
    .isi-penjelasan {
        border-right: 3px solid #000000;
        height: 400px;
    }

    .isi-penjelasan {
        padding: 100px 80px 0px 0px;

    }

    .gambar-penjelasan {
        height: 500px;
        width: auto;
    }

    .judul-landing {
        font-size: 45px;
    }

    /* .isi-penjelasan, .gambar-penjelasan{
        flex: 0 0 auto;
        width: 50%;
    } */

}