.content-history {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-history {
    background: #FFFFFF;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 100%;
    padding: 30px;
}


.judul-history {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #4556A8;
}

.status-history {
    background: #35FF6F;
    box-shadow: 0px 4px 20px rgba(236, 237, 240, 0.5);
    /* background: #2D7D44; */
    box-shadow: 0px 4px 20px rgba(236, 237, 240, 0.5);
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 30px;
}

.status-ongoing {
    background: #4556A8;
    box-shadow: 0px 4px 20px rgba(236, 237, 240, 0.5);
    border-radius: 30px;
    color: white;
    font-size: 12px;
    padding: 3px 30px;
}

.status-failed {
    background: red;
    box-shadow: 0px 4px 20px rgba(236, 237, 240, 0.5);
    border-radius: 30px;
    color: white;
    font-size: 12px;
    padding: 3px 30px;
}

.isi-history{
    font-size: 12px;
    margin-top: 30px;
}