.header-history {
    padding-top: 120px;
    margin-top: 0px !important;
}

.judul-header-history {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 39px;
    letter-spacing: 0.03em;
    color: #000000;
}

.card-status-test {
    padding: 30px;
    background: #4556A8;
    width: 100%;
    border-radius: 25px;
}

.nama-card-status {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 15px;
    line-height: 34px;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}

.status-tes {
    background: #35FF6F;
    box-shadow: 0px 4px 20px rgba(236, 237, 240, 0.5);
    border-radius: 30px;
    color: #4556A8;
    padding: 2px 40px;
    height: 30px;
}

.ket-status-tes {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 15px;
    line-height: 34px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-left: 20px;
}

.text-isi {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    margin-top: 20px;

    color: #FFFFFF;

}

.skor-toefl {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;

    color: #FFFFFF;
}

.btn-tes,
.btn-tes:hover {
    background: #ECEDF0;
    box-shadow: 0px 4px 20px rgba(236, 237, 240, 0.5);
    border-radius: 30px;
    padding: 2px 30px;
    height: 35px;
    border: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    align-content: center;
    font-size: 15px;
    padding-top: 7px;
    color: #4556A8;
}

.btn-tes:hover {
    background-color: #E2E3E6;
}

.box-jumlah {
    background: #ECEDF0;
    border-radius: 25px;
    width: 100%;
    padding: 15px 30px
}

.total-tes {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #4556A8;

}

.ket-total {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;

    color: #4556A8;

}