.card-tes { 
    margin-top: 150px;
    width: 70%;
}

.button-edit-profile {
    /* width: 20%; */
    background-color: #2D7D44;
    color: #FFFFFF;
    /* height: 0%; */
    /* border: 1px solid #000000; */
}

.nav-link {
    color: black;
}

.photo-profile {
    max-width: 100px;
}

.edit-photo {
    text-align: center;
}

.form-edit {
    width: 100%;
    /* align-items: flex-end; */
}